/* .title {
    text-align: left !important;
    
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(#ffb92a,#FFA987,#F7EBE8,#444140);
}

body {
    font-family: "Poppins", sans-serif;
}

img {
    border-radius: 4px;
}

.header {
    margin-left: 5px;
    display: contents;
}

.navbar,
.navbar-end,
.navbar-menu {
  background-color: #444140;
  color: #fff;
  font-size: 1.25rem;
}

.box {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    width: 90vw;
}

#mainposter {
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}

#results-container {
    color: #fff;
    font-size: 2rem;
    
    
}

#page-number {
    color: #fff;
    
}

.glitch {
    font-size: 25px;
    color: #ffffff;
    animation: glitch 398ms infinite;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2rem;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75), -0.025em -.05em 0 rgba(0, 255, 0, .75), 0.025em .05em 0 rgba(0, 0, 255, .75);
    }
    
    .glitch2Bedore {
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5rem;
    color: white;
    } @keyframes glitch{
    0%{
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, .75),
    -0.025em -.05em 0 rgba(0, 255, 0, .75),
    0.025em .05em 0 rgba(0, 0, 255, .75);
    }
    14%{
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, .75),
    -0.025em -.05em 0 rgba(0, 255, 0, .75),
    0.025em .05em 0 rgba(0, 0, 255, .75);
    }
    15%{
    text-shadow:
    -0.05em -.025em 0 rgba(255, 0, 0, .75),
    0.025em 0.025em 0 rgba(0, 255, 0, .75),
    -0.05em -.05em 0 rgba(0, 0, 255, .75);
    }
    49%{
    text-shadow:
    -0.05em -.025em 0 rgba(255, 0, 0, .75),
    0.025em 0.025em 0 rgba(0, 255, 0, .75),
    -0.05em -.05em 0 rgba(0, 0, 255, .75);
    }
    50%{
    text-shadow:
    0.025em 0.05em 0 rgba(255, 0, 0, .75),
    0.05em 0 0 rgba(0, 255, 0, .75),
    0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    99%{
    text-shadow:
    0.025em 0.05em 0 rgba(255, 0, 0, .75),
    0.05em 0 0 rgba(0, 255, 0, .75),
    0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    100%{
    text-shadow:
    -0.025em 0 0 rgba(255, 0, 0, .75),
    -0.025em -0.025em 0 rgba(0, 255, 0, .75),
    -0.025em -0.05em 0 rgba(0, 0, 255, .75);
    }
    }
    .containerGlitch{
    margin-top: 0px;
    width: 100%;
    max-width: 1175px;
    height: auto;
    }