/* .title {
    text-align: left !important;
    
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(#ffb92a,#FFA987,#F7EBE8,#444140);
}

body {
    font-family: "Poppins", sans-serif;
}

img {
    border-radius: 4px;
}

.header {
    margin-left: 5px;
    display: contents;
}

.navbar,
.navbar-end,
.navbar-menu {
  background-color: #444140;
  color: #fff;
  font-size: 1.25rem;
}

.box {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
}

#results-container {
    color: #fff;
    font-size: 2rem;
}

#page-number {
    color: #fff;
}

